/* font related style */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* sheared style */

.primary-btn {
    background: linear-gradient(to left bottom, #FB09B4, #9100F8, #F7E93F);
    color: white;
    font-size: 1.02em;
    font-weight: 550;
    padding: 15px;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.primary-btn:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 30px #FB09B4;
    transform: scale(1.04);
}

hr {
    border-color: #310154;
}

p {
    color: rgba(255, 255, 255, 0.621);
}

.logo {
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* main style */

body {
    background-color: #1A0B2E;
    color: white;
}

/* navbar related style */

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.brand {
    font-size: 1.5em;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3em;
}

.menu a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: none;
}

/* banner related style */

#hero-container {
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-logo {
    background-image: url(assets/hero-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    position: relative;
    margin-bottom: 25px;
}

.banner-logo p {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.03em;
    font-weight: 600;
    position: absolute;
    border-radius: 30px;
    padding: 5px;
    right: 170px;
    top: 10px;
    box-shadow: 3px 3px 30px #00FF88;
}

.banner-text h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-text p {
    margin-bottom: 30px;
}

.subscribe-btn {
    color: #00FF88;
    background-color: transparent;
    font-size: 1.02em;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #00FF88;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}

.subscribe-btn:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 40px #00FF88;
    transform: scale(1.04);
}

/* about section related style */

#about {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 3em;
    font-weight: bold;

}

.about-content p {
    font-size: 1em;
    line-height: 20px;
    margin: 2em;
}

.achievement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 3em;
    text-align: center;
}

.achievement h1 {
    font-size: 3em;
    color: #00FF88;
    margin-bottom: 5px;
}

/* card related style */

#card-container {
    margin: 0 auto;
    width: 80%;
    padding: 100px 0;
}

#card-container h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 50px;
}

.premium {
    grid-row: span 2;
}

.mobile {
    grid-column: span 2;
}

.global {
    grid-column: span 2;
}

.interviews {
    grid-column: span 2;
}

.card {
    background-color: #35116562;
    border-radius: 20px;
    padding: 20px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 10px #9100F8;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.5em;
}

.card p {
    line-height: 24px;
    font-size: 1em;
}

/* featured related style */

#featured-container {
    width: 85%;
    margin: 0 auto;
}

#featured-container h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -80px;
}

.featured-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 150px;
}

.videos {
    background-color: #250D44;
    border-radius: 30px;
    padding: 10px;
}

.videos h3 {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: 600;
}

.videos p {
    line-height: 1.5em;
    margin-bottom: 15px;
}

.duration {
    font-size: 1em;
    font-weight: 600;
    color: #00FF88;
}

.videos:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 40px #9100F8;
}

/* featured host related style */

.featured-host {
    margin: 0 auto;
    width: 90%;
    background-color: #250D44;
    border-radius: 30px;
}

.about-host {
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 3em;
}

.about-host h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-host p {
    line-height: 1.5em;
    margin-bottom: 20px;
}

.social-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.icon {
    border: 1px solid #9100F8;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    display: inline-flex;
}

/* footer related style */

#footer-container {
    background: url(assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
}

.footer-content h1 {
    font-size: 5em;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    font-size: 1.5em;
}


/* responsive desing */
@media screen and (max-width:576px) {
    body {
        width: 100vw;

    }

    /* navbar related */
    .brand {
        scale: 0.5em;
    }

    .menu,
    .primary-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* banner related style */

    #hero-container {
        padding: 50px;
        text-align: center;
    }

    .banner-content {
        font-size: 1.4em;
    }

    .spotify {
        display: block;
    }

    .btn {
        display: flex;

    }

    .banner-logo p {
        position: absolute;
        top: 10px;
        right: 100px;
    }

    /* about section */
    .achievement {
        grid-template-columns: repeat(2, 1fr);
    }

    /* card related style */
    #card-container {
        width: 95vw;
        padding-top: 0;
    }

    .card-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 0 auto;
    }

    .premium {
        grid-row: span 1;
    }

    /* featured related style */
    .featured-videos {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .about-host {
        flex-direction: column;
        text-align: center;
    }


    /* footer related */
    #footer-container {
        padding: 30px;

    }

    .footer-content h1 {
        font-size: 2.5em;
    }

    .footer-icon {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 2em;
    }

}